@font-face {
    font-family: BRUX; /* Гарнитура шрифта */
    src: url(BRUX.otf); /* Путь к файлу со шрифтом */
   }


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    height: 100%;

}

html {
overflow: hidden;
}
.wrapper{

  background: url(bcgr.png);
    width: 100%;
  height: 100%;
}
.bc{
  
  width: 100%;
  height: 100%;
  min-width: 1366px;
  min-height: 660px;
 
}
.menu{
  position: absolute;
  top:22%;
  float: left;
  
  padding-left:2%;
  width: 25%;
  min-width: 300px;
  
  


}
.btn{
  
  text-align: center;
  line-height: 250%;
  height: 6%;
  min-height: 40px;
  font-family: BRUX;
  width: 45%;
  
  background-color: dodgerblue;
  border-radius: 12px;
  font-weight: bolder;
  font-size: 20px;
  box-shadow: 1px 4px 36px -5px #000000 inset;
  box-shadow: 4px 5px 10px 1px #000000;
  margin-bottom: 7%;
 
}
.btn:hover{
 box-shadow: 4px 5px 10px -3px #000000;
}
.ct{
  color: yellow;
  width: 80%;
  min-width: 270px;
background: rgb(255,255,255); 
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(252,92,0,1) 100%); 
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(252,92,0,1) 100%); 
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(252,92,0,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fc5c00',GradientType=0 ); 

  
}
.cc{
  
  color: yellow;
  
  
   width: 85%;
min-width: 290px;
background: rgb(255,255,255); 
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(0,154,249,1) 100%); 
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(0,154,249,1) 100%); 
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(0,154,249,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#009af9',GradientType=0 );

 
}
.save{
  color: darkblue;
    width: 45%;
 min-width: 150px;
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(45,183,0,1) 99%); 
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(45,183,0,1) 99%); 
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(45,183,0,1) 99%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2db700',GradientType=0 );
  float:left;
}
.save img{
  float:left;
  margin-right: -25px;
  
}
.print{
  color: darkblue;
    width: 45%;
 min-width: 150px;
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,0,252,1) 100%); 
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,0,252,1) 100%); 
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(239,0,252,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ef00fc',GradientType=0 ); 
  float:right;
}
.print img{
  float:left;
margin-right: -25px;
}
.ap{
  color: darkblue;
  width: 85%;
  float:inherit;
  -moz-float:inherit;
min-width: 300px;
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(233,249,0,1) 57%, rgba(233,249,0,1) 61%, rgba(233,249,0,1) 63%, rgba(233,249,0,1) 78%, rgba(233,249,0,1) 99%); 
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(233,249,0,1) 57%,rgba(233,249,0,1) 61%,rgba(233,249,0,1) 63%,rgba(233,249,0,1) 78%,rgba(233,249,0,1) 99%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(233,249,0,1) 57%,rgba(233,249,0,1) 61%,rgba(233,249,0,1) 63%,rgba(233,249,0,1) 78%,rgba(233,249,0,1) 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9f900',GradientType=0 ); 
}

.canvas{
  
  position: absolute;
  top:20px;
  right: 0;
  padding-right: 10%;
  
}
.canvas img{
  min-width: 100%;
 
  height: 80%;
}
.ins
{
  position: absolute;
  height: 10%;
  bottom:20px;
  right: 15%;
}
.ins li{
  transition: 0.5s;
  opacity:0.5;
 cursor: pointer;
  display: inline;
  padding-right: 15px;
}
.ins li:hover{
   opacity:1;
}
.ins li img{
  width: auto;
}
.kl1{
  display: block;
  padding-top: 60%;
  min-width: 350px;
  padding-left: ;

  
}
.kl
{
   height: 6.5%;
    min-height: 37px;
  
}
.kl li{
   opacity: 0.7;
  cursor: pointer;
  display: inline;
  padding-left: 10%;
}
.kl li:hover{
  opacity: 1;
}
.kl li img{
  width: auto;
}